{
  "apps" : [
    {
      "name"        : "server",
      "script"      : "wrapServer.js",
      "exec_mode"   : "cluster",
      "error_file"  : "{{ app_log_dir }}err.log",
      "out_file"    : "{{ app_log_dir }}out.log",
      "env": {
        "APP_PORT": {{ app_port }}
      }
    }
  ]
}
